.btn-edit {
    padding: 6px 12px;
    background: #c483ff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}
.btn-edit:hover {
    background: #ab63ff;
}

button {
    padding: 10px 18px;
    background: #c483ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #9649f8;
}

.btn-cancel {
    margin-left: 10px;
    color: #7552c8;
    text-decoration: none;
    font-size: 16px;
}
.btn-cancel:hover {
    color: #512f9c;
}
